*
!.ackrc
!.aliases
!.bash_aliases
!.bash_profile
!.bashrc
!.byobu
!.editrc
!.gitconfig
!.gitignore
!.gitexclude
!.gitmodules
!.gvimrc
!.inputrc
!.irbrc
!.profile
!.screenrc
!.vim
!.vimrc
!.zshenv
!.zprofile
!.zshrc
!bin
!bin/vcsc.py
.Rproj.user
